body {
  margin-top: 20px;
  /*background-image:url(https://Osaka_buildings.png);*/
}

.content-margin-top {
  margin-top: 80px;
}

.strong-title {
  font-size: 30px;
  font-weight: 800;
}

.Osaka_castle{
	display: inline-block;
	position: relative;
}